BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 100
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Never
  AfterFunction: true
  AfterNamespace: false
  AfterClass: false
  AfterStruct: false